In [2]:
# Imports
import numpy as np
from numpy import random as rnd
from matplotlib import pyplot as plt
import sys,os,time,datetime,warnings,math,itertools

import pandas as pd

from plotly import express as px

from gastrodon import RemoteEndpoint,QName,ttl,URIRef,inline

# Config
%load_ext autotime
sys.path.append('../..')

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 0 ns (started: 2023-06-28 23:58:04 +02:00)

In [16]:
prefixes = inline('''
    @prefix : <http://dbpedia.org/resource/> .
    @prefix dbo: <http://dbpedia.org/ontology/> .
    @prefix pr: <http://dbpedia.org/property/> .
''').graph

time: 0 ns (started: 2023-06-29 00:12:22 +02:00)

In [17]:
endpoint = RemoteEndpoint(
    'http://dbpedia.org/sparql/',
    default_graph='http://dbpedia.org',
    prefixes=prefixes,
    base_uri='http://dbpedia.org/resources/'
)

time: 0 ns (started: 2023-06-29 00:12:28 +02:00)

In [18]:
wars = endpoint.select('''
    SELECT ?s ?p ?o
    WHERE {
        ?s ?p ?o .
        FILTER regex(?s,'^.*War.*$')
    }
    GROUP BY ?s
    ORDER BY DESC(?count)
''').reset_index()

time: 11.1 s (started: 2023-06-29 00:12:28 +02:00)

In [21]:
wars = endpoint.select('''
    SELECT ?battle
    WHERE {
        ?battle rdf:type dbo:MilitaryConflict .
    }
    ORDER BY ?date
''').reset_index()

time: 1.02 s (started: 2023-06-29 00:17:52 +02:00)

In [22]:
wars

      index                                             battle
0         0                                          :Cabanada
1         1                                         :Cabanagem
2         2                                       :Cabinda_War
3         3                                      :Cactus_Ridge
4         4  http://dbpedia.org/resource/Caddie_(18thC_Edin...
...     ...                                                ...
9995   9995                   :Intermittent_preventive_therapy
9996   9996                                      :Intern_Aware
9997   9997                                 :Internal_conflict
9998   9998                          :International_Coffee_Day
9999   9999                 :International_Noise_Awareness_Day

[10000 rows x 2 columns]

time: 47 ms (started: 2023-06-29 00:17:57 +02:00)