In [1]:
import numpy as np
from matplotlib import pyplot as plt
from numpy import random as rnd
import warnings,os,itertools,datetime,time,sys

import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

import pandas as pd
import seaborn as sns

from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split

sns.set()

In [2]:
from qiskit import QuantumRegister,ClassicalRegister,Aer,execute
from astropy import modeling

In [1]:
import pygame

pygame 2.0.0.dev6 (SDL 2.0.10, python 3.8.5)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [1]:
import gym
import time,sys

env = gym.make('Pendulum-v0')

obs = env.reset()

done = False
while not done:
    env.render()
    action = env.action_space.sample()
    obs,reward,done,info = env.step(action)
    
print('Done')
env.close()
sys.exit()

Done

SystemExit:

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [3]:
rootpath = './../../../../../../../Dropbox/TF_data/'

In [4]:
df0 = pd.read_csv(rootpath+'TURING/tweets.csv',encoding='latin-1',header=None)

In [5]:
df0.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [6]:
df = df0.drop(columns=[0,1,3]).rename(columns={
    2:'Timestamp',
    4:'Account',
    5:'Text'
})

In [7]:
df = df.drop_duplicates()

In [8]:
''.join(df.head(10)['Text'].tolist())

"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;Dis upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of boundsmy whole body feels itchy and like its on fire @nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there. @Kwesidei not the whole crew Need a hug @LOLTrish hey  long time no see! Yes.. Rains a bit ,only a bit  LOL , I'm fine thanks , how's you ?@Tatiana_K nope they didn't have it @twittera que me muera ? "

In [28]:
enc = LabelEncoder()

In [31]:
df['Account ID'] = enc.fit_transform(df['Account'])

In [32]:
df

,Timestamp,Account,Text,Account ID
0,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",242711
1,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...,577449
2,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...,490699
3,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire,65794
4,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all....",113308
...,...,...,...,...
1599995,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,Just woke up. Having no school is the best fee...,11688
1599996,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,222793
1599997,Tue Jun 16 08:40:49 PDT 2009,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,293260
1599998,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,623343
1599999,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,192520

In [35]:
s = df['Text'].iloc[0]

In [43]:
l = [k[1:] for k in s.split(' ') if k.startswith('@')]

In [45]:
enc.transform(l[0:2])

ValueError: y contains previously unseen labels: ['switchfoot']

In [ ]:
class net(nn.Module):
    def __init__(self):
        super(net,self).__init__()
        self.l0 = nn.Linear(10,)